:root {
     --bouncy: linear(0, -0.001 9%, 0.022 15.4%, 0.072 20.7%, 0.156 25.5%, 0.28 30%, 0.453 34.5%, 0.999 44.7%, 0.508 54.1%, 0.403 57.6%, 0.377 59.3%, 0.369 60.9%, 0.376 62.4%, 0.4 64%, 0.494 67.2%, 0.997 77.4%, 0.856 81.6%, 0.825 83.4%, 0.814 85.3%, 0.841 88.5%, 0.977 95.9%, 0.995 97.9%, 1);
}

@keyframes heartbeat {
     0% {
          transform: scale(1);
     }

     14% {
          transform: scale(1.01);
     }

     28% {
          transform: scale(1);
     }

     42% {
          transform: scale(1.01);
     }

     70% {
          transform: scale(1);
     }

     100% {
          transform: scale(1);
     }
}

@keyframes letter-heartbeat {
     0% {
          transform: translateX(-50%) rotate(-45deg) scale(1);
     }

     14% {
          transform: translateX(-50%) rotate(-45deg) scale(1.2);
     }

     28% {
          transform: translateX(-50%) rotate(-45deg) scale(1);
     }

     42% {
          transform: translateX(-50%) rotate(-45deg) scale(1.2);
     }

     70% {
          transform: translateX(-50%) rotate(-45deg) scale(1);
     }

     100% {
          transform: translateX(-50%) rotate(-45deg) scale(1);
     }
}

@keyframes ikot {
     0% {
          transform: scale(1);
     }

     50% {
          transform: scale(1.2);
     }

     100% {
          transform: scale(1);
     }
}

@keyframes twinkle {
     0% {
          opacity: 0;
     }

     50% {
          opacity: 1;
     }

     100% {
          opacity: 0;
     }
}

@keyframes raiseZ {
     to {
          z-index: 8;
     }
}

@keyframes dropZ {
     to {
          z-index: 2;
     }
}

@keyframes floatHeart {
     0% {
          transform: translate(-50%, -50%) rotate(45deg) translateY(0);
          opacity: 0;
     }

     20% {
          opacity: 1;
     }

     80% {
          opacity: 1;
          /* stays visible until 80% of the animation */
     }

     100% {
          transform: translate(-50%, -50%) rotate(45deg) translateY(-120px);
          opacity: 0;
          /* fades out only at the end */
     }
}

@keyframes popIn {
     to {
          transform: scale(1);
          opacity: 1;
     }
}

@keyframes gameDisappear {
     0% {
          transform: scale(1);
          opacity: 1;
     }

     100% {
          transform: scale(0.3);
          opacity: 0;
     }
}


@keyframes floatUp {
     0% {
          transform: translateY(0) scale(1);
          opacity: 1;
     }

     50% {
          transform: translateY(-100px) scale(1.2);
     }

     100% {
          transform: translateY(-200px) scale(1);
          opacity: 0;
     }
}