:root {
     --linear-grad: linear-gradient(135deg, #fae1dd 0%, #f8b4b4 100%);
     --linear-grad: linear-gradient(135deg, #2a0d36, #1a0b3d 100%);
     --default: #1a0b3d;
     --default-width: 300px;
     --default-height: 300px;
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     display: grid;
     place-items: center;
     min-height: 100vh;
     background: var(--linear-grad);
     font-family: 'Rubik', sans-serif;
     overflow: hidden;
}

#content {
     width: 100vw;
     height: 100vh;
     z-index: 1;
     display: flex;
     justify-content: center;
     align-items: center;
}


.star {
     position: absolute;
     border-radius: 50%;
     opacity: 0;
     animation: twinkle 2s infinite ease-in-out;
     z-index: 0;
}

