*{
     margin: 0;
     padding: 0;
     color: white;
}
body {
    background: #0b1d3a;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-auto-rows: 50px;
}

.grid-item {
    opacity: 0;
    width: 50px;
    height: 50px;
    background: orange;
    transition: transform 0.3s ease;
    animation: pulse 1s 1; /* animation loop */
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

/* keyframes for fade in/out */
@keyframes pulse {
    0%   { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

