*{
     margin: 0;
     padding: 0;
}
body{
     background: grey;

     display: flex;
     flex-direction: column;
     align-items: center;
     height: 100vh;
     font-family: Arial, sans-serif;

}

.parent{
     display: flex-end;
     width: 600px;
     height: 40px;
     background: black;
     margin-top: 10px;

     align-items: center;
     justify-content: center;
}

.container{
     position: relative;
     display: flex;
     width: 100%;
     height: 100%;
     background: orange;
     border: 1px solid;
     border-radius: 25px;
     align-items: center;
     justify-content: center;
}

.container input{
     border: none;
     flex: .98;
     height: 80%;
     border-radius: 25px;
     font-size: 16px;
     padding: 0 15px;
}
.container input:focus {
    outline: none; /* removes default blue outline */
}

.search-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #181818;
    border: none;
    border-radius: 25px;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button img {
    width: 25px;
    height: 25px;
}



