/* Page look */
body{
    background: #0e0e0e;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 40px;
}

#main{
     justify-content: center;
}
.todo-item{
    background: #141414;
    padding: 12px 15px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #2a2a2a;
    transition: .2s;
}

.display-div,.div-todo{
     display: grid;
     grid-template-columns: 200px 150px 100px;

}
.delete-button{
     border: none;
     background-color: red;
     color:black;
     font-weight: bold;
     margin: 5px;
     padding: 5px;
     cursor: pointer;
}
.name,.duedate{
     background-color: grey ;
     color: black;
     border: none;
     margin: 5px;
     padding: 5px;
}

.submit-button{
     border: none;
     background-color: greenyellow;
     color:black;
     font-weight: bold;
     margin: 5px;
     padding: 5px;
     cursor: pointer;
}
.js-input,.js-date-input{
     border: none;
     margin: 5px;
     padding: 5px;
}


