*{
     margin: 0px;
     padding: 0px;
     color: black;
     font-size: 16;
     font-weight: 400;
     letter-spacing: 0.5px;
}
body{
     background: #181818;
     font-family: Arial, Helvetica, sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
}

.nav-bar{
     width: 800px;
     height: 50px;
     background: white;
     display: flex;
     justify-content: center;
     align-items: center;

     border-radius: 10px;
}
.nav-bar a{
     text-decoration: none;
     display: flex;
     text-align: center;
     justify-content: center;
     margin: 20px;
}
.nav-bar img{
     width: 24px;
     height: 24px;
     border-radius: 25px;
     transition: transform 0.5s ease;
}
#profile{
     width: 30px;
     height: 30px;
     margin: 20px;
}
.nav-bar .arrow-btn{
     border: none;
     background: none;
     display: flex;
     align-items: center;
     cursor: pointer;
     font-size: 16px;
}

.nav-bar .upgrade-btn{
     border: none;
     display: flex;
     align-items: center;
     cursor: pointer;
     font-size: 16px;
     background: black;
     padding: 5px;
     border-radius: 5px;
     color: white;
}

.settings{
     position: relative;
}

.dropdown{
     position: absolute;
     max-height: 0px;
     overflow: hidden;
     transition: max-height 0.3s ease;
     background: #222;
     border-radius: 5px; 
}

.dropdown a{
     display: block;
     padding: 10px 15px;
     margin: 10px 15px;
     color: white;
     text-decoration: none;
}

.settings.active .dropdown{
     max-height: 500px;
}
.settings.active .arrow-btn img{
     transform: rotate(540deg);
}

.nav-links.active{
     background: black;
     padding: 8px;
     border-radius: 10px;
     color: white;
}
