* {
     margin: 0;
     padding: 0;
}

body {
     background-color: #061E29;
     display: flex;
     min-height: 100vh;
     justify-content: center;
     align-items: center;
}

.container {
     border: none;
     border-radius: 20px;

     display: inline;
     padding: 20px;
     width: 300px;
     height: 300px;
     background-color: #1D546D;
}

.container input {
     width: 100%;
     height: 30px;

     font-size: 16px;
}

.container .button {
     display: flex;
     justify-content: center;
}

.container button {
     border: none;
     width: 100px;
     padding: 10px 20px;
     margin: 10px;
     border-radius: 10px;
     cursor: pointer;
}

.container .list {
     background-color: #5F9598;
     height: 200px;
     overflow-y: auto;

     scrollbar-width: thin;
     /* thin, auto, none */
     scrollbar-color: #0a2c3a #5F9598;
}

.container .styled-list {
     height: 20px;
     list-style: none;
}

.styled-list li {
     padding: 16px;
     margin: 1px;
     background-color: #0a2c3a;
     color: white;
     border-radius: 8px;
     
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
}